
<h1><%= @article.title %></h1>

<p>$<%= @article.price %></p>
<p> <%= @article.body %> </p>

<%= link_to "Edit article", edit_category_article_path(@article.category, @article) %>
<%= link_to "Delete article" , category_article_path, method: :delete %>


