<!DOCTYPE html>
<html>
  <head>
    <title>Craigslist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <li style="list-style:none"> <%= link_to "Home", categories_path %> </li>
    <li style="list-style:none"> <%= link_to "Log In", new_session_path %> </li>
    <li style="list-style:none"> <%= link_to "Register", new_user_path %> </li>
    <%= link_to "logout", '/sessions', method: :delete %> </li>
    <%= yield %>
  </body>
</html>
